<!DOCTYPE html>
<html lang="en" ng-app="mypage">
<head>

    <!--  Title  -->
    <title>saiful Islam</title>

    <!--  character encoding  -->
    <meta charset="utf-8">


    <!-- Stylesheet/CSS Files -->
    <link rel="stylesheet" type="text/css" href="../css/main.css">



</head>
<body ng-controller="homePageCtrl">

    <!-- header Section -->

        


    <!-- Navigation Menu  -->
    <div class="nav">
        <ul>
             <li><a href="#hom">HOME</a></li>
             <li><a href="#/pro">PROJECTS</a></li>
             <li><a href="#con">CONTACT</a></li>
        </ul>
    </div>

    
<!-- end header -->

    <div ng-view>

    </div>



    <div class="footer">
        <a name="con"></a> 
        <h4>CONTACT</h4>
        <h5> Mail: mr.saiful.azad@gmail.com </h5>
        <h5> Skype: mr.saiful.azad </h5>
    
        
    </div>




    




</body>
<script src="../app/js/bower_components/angular/angular.js"></script>
<!--<script src="../app/js/bower_components/angular-resource/angular-resource.js"></script>-->
<script src="../app/js/bower_components/angular-route/angular-route.min.js"></script>
<script src="../app/app.js"></script>
<script src="../app/controllers/home_page_ctrl.js"></script>
</html>